.posts-section {
  background-color: #4A5F8C;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 270px;
  padding: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  color: #DAE0EE;
  overflow: hidden;
  padding-right: 30px;
  height: fit-content;
  max-height: 550px;
}

.posts-section h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #DAE0EE;
}

.posts-scroll-container {
  max-height: 500px;
  overflow-y: auto;
  overflow-y: auto;
  width: 100%;
  padding-right: 10px;
  padding-left: 20px;
  flex-grow: 1;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  height: 420px;
}
.posts-scroll-container::-webkit-scrollbar {
  display: none;
}

.posts-scroll-container.many-posts {
  max-height: 450px;
}

.ppost-card {
  background-color: #8F9AB6;
  border: 1px solid #DAE0EE;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 15px;
  color: #000120;
  transition: transform 0.2s ease;
  text-align: center;
  margin-left: 30px;
  margin-right: 10px;
  height: 20px;
}

.ppost-card:hover {
  transform: scale(1.01);
  background-color: #9fa9c2;
}

/* Loading */
.loading-card {
  background-color: #b0b7cb;
  color: transparent;
  border-radius: 10px;
  padding: 15px 20px;
  margin-left: 20px;
  width: 85%;
  height: 22px;
  margin-bottom: 15px;
  animation: pulse 1.5s infinite ease-in-out;
  position: relative;
  overflow: hidden;
  height: 23px;
  width: 240px;
}

.loading-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.3), transparent);
  animation: shine 1.2s infinite;
}

.ver-mas-btn {
  padding: 8px 50px;
  background-color: #2e3e5f93;
  color: #DAE0EE;
  border: 2px solid #DAE0EE;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 9px;
}

.ver-mas-btn:hover {
  background-color: #5d71a0cc;
  transform: translateY(-2px);
}

.post-titulo-fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.post-titulo-fecha h4 {
  font-size: 16px;
  font-weight: 700;
  color: #000120;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.post-fecha {
  font-size: 14px;
  color: #1a1e3e;
  white-space: nowrap;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  justify-content: center;
}

@keyframes pulse {
  0% { opacity: 0.85; }
  50% { opacity: 0.5; }
  100% { opacity: 0.85; }
}

@keyframes shine {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

/* Tablet */
@media (max-width: 1024px) {
  .posts-section {
    width: 83%;
    max-width: 700px;
    flex: none;
  }
}

/* landscape */
@media (max-width: 768px) {
  .posts-section {
    width: 90%;
    min-height: 300px;
  }
}

/* portrait */
@media (max-width: 480px) {
  .posts-section {
    width: 95%;
    padding: 15px 10px;
    min-height: 250px;
  }

  .ppost-card {
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
  }

  .post-titulo-fecha {
    flex-direction: row;
    gap: 2px;
  }

  .ver-mas-btn {
    padding: 7px 100px;
  }

  .loading-card {
    width: 90%;
    margin-left: 10px;
  }

  .posts-scroll-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
