.search-bar-wrapper {
  position: static !important;
  width: 300px; 
}

.search-results {
  position: fixed !important;
  width: 300px; 
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; 
  background-color: #14273bc9;
  border: 1px solid #ddd;
  border-radius: 12px;
  z-index: 2000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  box-sizing: border-box;
}

/* Asegura que el texto nunca se salga */
.search-results .MuiListItemText-root .MuiTypography-root {
  display: block;
  line-height: 1.2;
  word-break: break-word; 
  white-space: normal;   
}

.search-results .MuiListItem-root {
  cursor: pointer;
  padding: 8px 16px;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
}

.search-results .MuiListItem-root:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-results .MuiListItemAvatar-root {
  min-width: 40px;
  margin-right: 12px;
}

.search-results .MuiAvatar-root {
  width: 40px;
  height: 40px;
}

.search-results .MuiListItemText-root .MuiTypography-body2 {
  color: #aaa;
  font-size: 13px;
}

@media screen and (max-width: 480px) {
  .search-bar-wrapper {
    width: 100% !important;
  }

  .search-results {
    width: 100vw !important;
    left: 0 !important;
    right: 0;
    border-radius: 0;
    max-height: 250px;
    top: 56px !important; /* justo debajo de la barra superior */
  }

  .search-results .MuiListItem-root {
    padding: 10px 14px;
  }

  .search-results .MuiListItemAvatar-root {
    margin-right: 10px;
  }

  .search-results .MuiAvatar-root {
    width: 36px;
    height: 36px;
  }
  .search-results .MuiTypography-body1 {
    color: #ffffff !important; 
  }

}
