    .seguidores-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
    
    .seguidores-modal {
        background-color: #4A5F8C;
        border-radius: 10px;
        width: 400px;
        max-height: 500px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }
    
    .seguidores-header {
        position: relative; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #000120;
        color: #DAE0EE;
    }
    
    
    .seguidores-header h3 {
        margin: 0;
        font-size: 18px;
        font-weight: bold;
    }
    
    .close-btn {
        background: none;
        border: none;
        color: #DAE0EE;
        font-size: 24px;
        cursor: pointer;
        line-height: 1;
    }
    
    .seguidores-list {
        max-height: 400px;
        overflow-y: auto;
    }
    
    .follower-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #8F9AB6;
    }
    

    .follower-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 70%;
        word-break: break-word;
    }
    
    .follower-info .follower-name {
        margin: 0;
        font-weight: bold;
        color: #DAE0EE;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .follower-info .follower-username {
        margin: 5px 0 0;
        color: #DAE0EE;
        font-size: 14px;
        opacity: 0.7;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .follow-btn {
        background-color: #5d71a0cc;
        color: #DAE0EE;
        border: none;
        padding: 8px 15px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.2s ease;
        font-size: 14px;
    }
    
    .follow-btn:hover {
        background-color: #0e1c498c;
        transform: translateY(-2px);
    }

    .close-button {
        position: absolute;
        top: 10px;
        right: 15px;
        width: 27px;
        height: 27px;
        border-radius: 50%;
        background-color: #1a2c5851;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        color: #DAE0EE;
    }
    
    .close-button:hover {
        background-color: rgba(33, 50, 136, 0.7);
    }
        