.follow-btn.following {
    background-color: #0e1c498c;
    color: #DAE0EE;
  }
  
  .follow-btn.following:hover {
    background-color: #5d71a0;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: #4a5f8c;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  .follower-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .follower-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 1;
    min-width: 0;
}

.follower-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    overflow: hidden; 
}

.follower-name {
    font-weight: bold;
    color: #DAE0EE;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.follower-username {
    font-size: 14px;
    color: #dae0eeb6;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

  
  .follower-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  